<div class="lg:w-3/12 mt-10 p-10 shadow-lg mx-auto">
  <h3 class="text-3xl text-center font-semibold py-5">Register</h3>
  <form [formGroup]="registerForm" class="flex flex-col">
    <div class="flex flex-col mt-5 mb-1">
      <input
        formControlName="firstName"
        type="text"
        placeholder="FirstName"
        class="p-2 border border-gray-300 rounded"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'firstName') &&
          registerForm.controls['firstName'].dirty
        "
        class="text-red-500"
        >*required</span
      >
    </div>
    <div class="flex flex-col mt-5 mb-1">
      <input
        formControlName="lastName"
        type="text"
        placeholder="LastName"
        class="p-2 border border-gray-300 rounded"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'lastName') &&
          registerForm.controls['lastName'].dirty
        "
        class="text-red-500"
        >*required</span
      >
    </div>
    <div class="flex flex-col mt-5 mb-1">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="p-2 border border-gray-300 rounded"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'email') &&
          registerForm.controls['email'].dirty
        "
        class="text-red-500"
        >*required</span
      >
    </div>
    <div class="flex flex-col mt-5 mb-1">
      <input
        formControlName="username"
        type="text"
        placeholder="Username"
        class="p-2 border border-gray-300 rounded"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'username') &&
          registerForm.controls['username'].dirty
        "
        class="text-red-500"
        >*required</span
      >
    </div>
    <div class="flex flex-col mt-5 mb-1">
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="p-2 border border-gray-300 rounded"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'password') &&
          registerForm.controls['password'].dirty
        "
        class="text-red-500"
        >*required</span
      >
    </div>
    <div class="flex flex-col mt-5 mb-1">
      <input
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        class="p-2 border border-gray-300 rounded"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'confirmPassword') &&
          registerForm.controls['confirmPassword'].dirty
        "
        class="text-red-500"
        >*required</span
      >
    </div>
    <button
      (click)="register()"
      [disabled]="registerForm.invalid"
      [class.disabled]="registerForm.invalid"
      class="bg-indigo-500 p-2 rounded mt-3 text-white"
    >
      Submit
    </button>
  </form>
  <div class="flex justify-center mt-5">
    <span>Account Is Already Here ></span>
    <a class="text-indigo-600 ml-2 cursor-pointer">Login Now</a>
  </div>
</div>
